@charset "UTF-8";
/*===========================================================
VARIABLES
============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.item-1::before {
  background-color: #526781;
}
.item-1 .read-btn {
  background-color: #526781;
}
.item-1:hover {
  background-color: #526781;
}
.item-1:hover::before {
  background-color: white;
}
.item-1:hover .read-btn {
  background-color: white;
  color: #526781;
}
.item-1:hover p {
  color: white;
}
.item-1:hover h2 {
  color: white;
}
.item-1:hover [class^=icon-] {
  color: #526781;
}

.item-2::before {
  background-color: #4183D7;
}
.item-2 .read-btn {
  background-color: #4183D7;
}
.item-2:hover {
  background-color: #4183D7;
}
.item-2:hover::before {
  background-color: white;
}
.item-2:hover .read-btn {
  background-color: white;
  color: #4183D7;
}
.item-2:hover p {
  color: white;
}
.item-2:hover h2 {
  color: white;
}
.item-2:hover [class^=icon-] {
  color: #4183D7;
}

.item-3::before {
  background-color: #2ECC71;
}
.item-3 .read-btn {
  background-color: #2ECC71;
}
.item-3:hover {
  background-color: #2ECC71;
}
.item-3:hover::before {
  background-color: white;
}
.item-3:hover .read-btn {
  background-color: white;
  color: #2ECC71;
}
.item-3:hover p {
  color: white;
}
.item-3:hover h2 {
  color: white;
}
.item-3:hover [class^=icon-] {
  color: #2ECC71;
}

.item-4::before {
  background-color: #D64541;
}
.item-4 .read-btn {
  background-color: #D64541;
}
.item-4:hover {
  background-color: #D64541;
}
.item-4:hover::before {
  background-color: white;
}
.item-4:hover .read-btn {
  background-color: white;
  color: #D64541;
}
.item-4:hover p {
  color: white;
}
.item-4:hover h2 {
  color: white;
}
.item-4:hover [class^=icon-] {
  color: #D64541;
}

.item-5::before {
  background-color: #926FB1;
}
.item-5 .read-btn {
  background-color: #926FB1;
}
.item-5:hover {
  background-color: #926FB1;
}
.item-5:hover::before {
  background-color: white;
}
.item-5:hover .read-btn {
  background-color: white;
  color: #926FB1;
}
.item-5:hover p {
  color: white;
}
.item-5:hover h2 {
  color: white;
}
.item-5:hover [class^=icon-] {
  color: #926FB1;
}

.item-6::before {
  background-color: #F62459;
}
.item-6 .read-btn {
  background-color: #F62459;
}
.item-6:hover {
  background-color: #F62459;
}
.item-6:hover::before {
  background-color: white;
}
.item-6:hover .read-btn {
  background-color: white;
  color: #F62459;
}
.item-6:hover p {
  color: white;
}
.item-6:hover h2 {
  color: white;
}
.item-6:hover [class^=icon-] {
  color: #F62459;
}

.item-7::before {
  background-color: #CE4125;
}
.item-7 .read-btn {
  background-color: #CE4125;
}
.item-7:hover {
  background-color: #CE4125;
}
.item-7:hover::before {
  background-color: white;
}
.item-7:hover .read-btn {
  background-color: white;
  color: #CE4125;
}
.item-7:hover p {
  color: white;
}
.item-7:hover h2 {
  color: white;
}
.item-7:hover [class^=icon-] {
  color: #CE4125;
}

.link-1 span {
  color: #526781;
}
.link-1:hover {
  background-color: #526781;
}
.link-1:hover span {
  color: white;
}

.link-2 span {
  color: #4183D7;
}
.link-2:hover {
  background-color: #4183D7;
}
.link-2:hover span {
  color: white;
}

.link-3 span {
  color: #2ECC71;
}
.link-3:hover {
  background-color: #2ECC71;
}
.link-3:hover span {
  color: white;
}

.link-4 span {
  color: #D64541;
}
.link-4:hover {
  background-color: #D64541;
}
.link-4:hover span {
  color: white;
}

.link-5 span {
  color: #926FB1;
}
.link-5:hover {
  background-color: #926FB1;
}
.link-5:hover span {
  color: white;
}

.link-6 span {
  color: #F62459;
}
.link-6:hover {
  background-color: #F62459;
}
.link-6:hover span {
  color: white;
}

.link-7 span {
  color: #CE4125;
}
.link-7:hover {
  background-color: #CE4125;
}
.link-7:hover span {
  color: white;
}

.pop-link-1 {
  background-color: #3e4e62;
}

.pop-link-2 {
  background-color: #286abd;
}

.pop-link-3 {
  background-color: #25a25a;
}

.pop-link-4 {
  background-color: #bc2c28;
}

.pop-link-5 {
  background-color: #79539a;
}

.pop-link-6 {
  background-color: #de093f;
}

.pop-link-7 {
  background-color: #a3331d;
}

.link-1::after {
  border-top: 10px solid #526781;
  color: #526781;
}

.link-2::after {
  border-top: 10px solid #4183D7;
  color: #4183D7;
}

.link-3::after {
  border-top: 10px solid #2ECC71;
  color: #2ECC71;
}

.link-4::after {
  border-top: 10px solid #D64541;
  color: #D64541;
}

.link-5::after {
  border-top: 10px solid #926FB1;
  color: #926FB1;
}

.link-6::after {
  border-top: 10px solid #F62459;
  color: #F62459;
}

.link-7::after {
  border-top: 10px solid #CE4125;
  color: #CE4125;
}

.banner-1 .btn-hero {
  background-color: #926FB1;
}

.banner-2 .btn-hero {
  background-color: #F7B322;
}

.banner-3 .btn-hero {
  background-color: #4183D7;
}

.banner-4 .btn-hero {
  background-color: #2ECC71;
}

.banner-5 .btn-hero {
  background-color: #D64541;
}

.banner-6 .btn-hero {
  background-color: #926FB1;
}

.banner-7 .btn-hero {
  background-color: #F62459;
}

/*=================================================================
MIXINS
===================================================================*/
.btn-trust, .btn-google, .btn-welcome, .btn-hero, .social-btn a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
}
.btn-trust:hover, .btn-google:hover, .btn-welcome:hover, .btn-hero:hover, .social-btn a:hover {
  color: #fff;
  opacity: 0.8;
}
.btn-trust:active, .btn-google:active, .btn-welcome:active, .btn-hero:active, .social-btn a:active {
  opacity: initial;
}

.nav-popout ul a, .welcome a, footer .footer-row .footer-menu ul a, .floating-r a {
  text-decoration: none;
  color: white;
}

#content-wrapper {
  position: relative;
  width: 100%;
  left: 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h3 {
  font-weight: 500;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.client,
.sponsor {
  white-space: nowrap;
  padding: 50px 0;
}
.client img,
.sponsor img {
  z-index: 99;
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
  align-items: center;
  max-height: 70px;
  max-width: 240px;
}

.client {
  z-index: 99;
  position: relative;
}
.client img {
  padding: 0 35px;
}

.grey {
  filter: grayscale(100%);
}
.grey:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 275px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 20px;
  text-wrap: wrap;
  height: auto;
  font-size: 18px;
  /* Position the tooltip */
  position: absolute;
  z-index: 99;
  bottom: 200%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltiptext a {
  border-radius: 3px;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 35px;
  height: auto;
  width: 100%;
  font-size: 16px;
}
.tooltiptext p {
  font-size: 13px;
}
.tooltiptext .client-blue {
  background-color: #926FB1;
}
.tooltiptext .client-green {
  background-color: #2ECC71;
}
.tooltiptext .client-orange {
  background-color: #F7B322;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.logo-wrapper {
  overflow: visible;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  height: auto;
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-r {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.floating-r a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #323544;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.floating-l {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
}
.floating-l a {
  display: inline;
  padding: 5px;
  color: white;
  background-color: #76788a;
  border-radius: 0 10px 0 0;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.floating-l a:hover {
  border: solid #75788a;
  border-width: 1px 1px 0 0;
  background-color: #9193a1;
}

footer {
  background-color: #323544;
  color: #fff;
  padding: 40px 0 0;
  position: relative;
}
footer .footer-social h4 {
  font-weight: 400;
}
@media (min-width: 1260px) {
  footer .footer-social {
    float: left;
    padding-right: 5%;
  }
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-row .footer-menu {
  flex: 100%;
  word-wrap: break-word;
  padding: 0 15px 0 0;
}
@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
  }
}
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 26px;
  margin-top: 0;
  font-weight: 400;
}
footer .footer-row .footer-menu ul {
  list-style-type: none;
  padding-left: 0;
}
footer .footer-row .footer-menu ul a {
  font-size: 13px;
}
footer .footer-row .footer-menu ul a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .net-img img {
    max-width: 234px;
  }
}
@media (min-width: 992px) {
  .net-img img {
    max-height: 65px;
  }
}
@media (min-width: 1260px) {
  .net-img img {
    max-width: 300px;
  }
}
.footer-last {
  background-color: #212330;
  color: #fff;
  padding: 10px 0 0;
}
.footer-last a {
  text-decoration: none;
  color: #fff;
}
.footer-last a:hover {
  text-decoration: underline;
}

.social-btn {
  margin-bottom: 20px;
  line-height: 6px;
}
@media (max-width: 480px) {
  .social-btn {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social-btn a {
    padding: 16px 22px 16px;
    width: 112px;
    height: 56px;
    text-align: center;
  }
  .social-btn span {
    font-size: 1.5em;
  }
}
.social-btn a {
  padding: 16px 22px 16px;
  background-color: #212330;
  display: inline-block;
  border-radius: 0;
  margin-right: 6px;
  margin-bottom: 10px;
}
.social-btn span {
  font-size: 1.5em;
  height: 26px;
}
.social-btn a.facebook:hover {
  background-color: #3B5998;
}
.social-btn a.twitter:hover {
  background-color: #00ACED;
}
.social-btn a.instagram:hover {
  background-color: #D93175;
}
.social-btn a.linkedin:hover {
  background-color: #0077B5;
}

.license {
  padding: 5px 0 10px;
  font-size: 13px;
}

.grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  gap: 30px;
}
@media (min-width: 768px) {
  .grid {
    flex-flow: row wrap;
  }
  .grid > * {
    width: calc((100% - 30px) / 2);
  }
  .grid > *:nth-child(-n+3) {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .grid > * {
    width: calc((100% - 30px) / 2);
  }
  .grid > *:nth-child(-n+3) {
    width: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1260px) {
  .grid > * {
    width: calc((100% - 90px) / 4);
  }
  .grid > *:nth-child(-n+3) {
    width: calc((100% - 60px) / 3);
  }
}

.welcome {
  background-color: #333645;
  width: 100%;
  padding: 30px 0;
  color: #fff;
}
.welcome h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 600;
}
.welcome p {
  line-height: 1.875em;
  letter-spacing: 0.4px;
  margin: 20px 0;
}
.welcome p:nth-of-type(1) {
  font-weight: bold;
}
@media (min-width: 1260px) {
  .welcome [class^=btn-] {
    display: inline;
    margin-right: 10px;
  }
  .welcome .author {
    padding: 15px 0;
  }
}
@media (min-width: 992px) {
  .welcome .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .welcome .welcome-top,
  .welcome .welcome-bottom {
    width: 49%;
    align-items: center;
    padding: 10px;
  }
  .welcome .welcome-bottom .quote {
    font-size: 1.3em;
  }
}

.quote {
  font-style: italic;
  font-weight: bold;
}

.author {
  display: block;
  padding: 25px 0;
  color: gray;
  font-size: 1.15em;
}

.stars {
  padding-top: 10px;
}
.stars span {
  color: gold;
  font-size: 2.75em;
}

.btn-hero {
  border-radius: 3px;
  margin-top: 1.938rem;
  padding: 15px 20px;
}
.btn-hero a {
  display: inline-block;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
.btn-hero a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  padding-top: 0.5em;
  fill: currentColor;
}

.btn-welcome {
  background-color: #212330;
  display: inline-block;
  width: fit-content;
  margin: 15px 5px 0 0;
  border-radius: 3px;
}
@media (min-width: 992px) {
  .btn-welcome {
    display: block;
  }
}
@media (max-width: 500px) {
  .btn-welcome {
    margin-bottom: 0;
  }
}
.btn-welcome a {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.2em;
}
.btn-welcome a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  fill: currentColor;
}

.btn-google {
  background-color: #4387F6;
  display: inline-block;
  width: fit-content;
  margin: 15px 5px 0 0;
  border-radius: 3px;
}
@media (min-width: 992px) {
  .btn-google {
    display: block;
  }
}
.btn-google a {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.2em;
}
.btn-google a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  fill: currentColor;
}

.btn-trust {
  background-color: #00B67B;
  display: inline-block;
  width: fit-content;
  margin: 15px 0;
  border-radius: 3px;
}
@media (min-width: 992px) {
  .btn-trust {
    display: block;
  }
}
.btn-trust a {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.2em;
}
.btn-trust a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  fill: currentColor;
}

.cookie-consent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  width: 90%;
}

.cookie-consent-title {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 20px;
  background: #fff;
  color: #333;
  text-align: center;
  text-align: left;
}
.cookie-consent-title h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
}

.cookie-consent-para {
  padding: 20px;
  background: #fff;
  color: #666;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  word-spacing: 2px;
  line-height: 1.75rem;
}
.cookie-consent-para p {
  margin: 0 0 25px;
}

.cookie-consent-buttons {
  padding: 19px 20px 20px;
  background: #fff;
  color: #333;
  text-align: center;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cookie-consent button {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  cursor: pointer;
}

#acceptCookies {
  background-color: #926fb1;
  color: white;
}

#changeCookies {
  background-color: #999aa2;
  color: white;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .cookie-consent {
    width: 600px;
  }
  #changeCookies {
    margin: 0;
  }
  .cookie-consent-buttons {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .cookie-consent button {
    width: 264px;
  }
}
.news {
  padding-bottom: 50px;
}

.newsbox1 {
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
}
.newsbox1:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
  cursor: pointer;
}
.newsbox1 h3 {
  margin-top: 0;
}
.newsbox1 img {
  width: 100%;
}
.newsbox1 p {
  font-size: 14px;
  color: #333645;
  margin-bottom: 30px;
}
.newsbox1 a {
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
}
.newsbox1 .news-info {
  flex: 1;
  padding: 20px 30px 35px;
}
.newsbox1 .news-author {
  display: flex;
  padding: 15px 0;
  margin: 0 30px;
  border-top: 1px solid gray;
  height: 123px;
  z-index: 1;
}
.newsbox1 .news-author ul {
  list-style-type: none;
  padding: 0 0 0 20px;
}
.newsbox1 .news-author ul li:first-child {
  font-weight: 600;
  padding: 5px 0 3px;
}
.newsbox1 .news-author ul li {
  font-size: 0.875rem;
}
.newsbox1 .news-author img {
  margin-top: 20px;
  width: 47px;
  height: 47px;
}
.newsbox1 .category-tag {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 4px 6px;
  color: white;
  font-size: 0.8em;
}
.newsbox1 .category-tag.career {
  background-color: #4183d7;
}
.newsbox1 .category-tag.news {
  background-color: #926fb1;
}
.newsbox1 h3 {
  color: #926fb1;
}
.newsbox1 a {
  background-color: #926fb1;
}

.newsbox2 {
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
}
.newsbox2:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
  cursor: pointer;
}
.newsbox2 h3 {
  margin-top: 0;
}
.newsbox2 img {
  width: 100%;
}
.newsbox2 p {
  font-size: 14px;
  color: #333645;
  margin-bottom: 30px;
}
.newsbox2 a {
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
}
.newsbox2 .news-info {
  flex: 1;
  padding: 20px 30px 35px;
}
.newsbox2 .news-author {
  display: flex;
  padding: 15px 0;
  margin: 0 30px;
  border-top: 1px solid gray;
  height: 123px;
  z-index: 1;
}
.newsbox2 .news-author ul {
  list-style-type: none;
  padding: 0 0 0 20px;
}
.newsbox2 .news-author ul li:first-child {
  font-weight: 600;
  padding: 5px 0 3px;
}
.newsbox2 .news-author ul li {
  font-size: 0.875rem;
}
.newsbox2 .news-author img {
  margin-top: 20px;
  width: 47px;
  height: 47px;
}
.newsbox2 .category-tag {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 4px 6px;
  color: white;
  font-size: 0.8em;
}
.newsbox2 .category-tag.career {
  background-color: #4183d7;
}
.newsbox2 .category-tag.news {
  background-color: #926fb1;
}
.newsbox2 h3 {
  color: #4183d7;
}
.newsbox2 a {
  background-color: #4183d7;
}

.newsbox3 {
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
}
.newsbox3:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
  cursor: pointer;
}
.newsbox3 h3 {
  margin-top: 0;
}
.newsbox3 img {
  width: 100%;
}
.newsbox3 p {
  font-size: 14px;
  color: #333645;
  margin-bottom: 30px;
}
.newsbox3 a {
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
}
.newsbox3 .news-info {
  flex: 1;
  padding: 20px 30px 35px;
}
.newsbox3 .news-author {
  display: flex;
  padding: 15px 0;
  margin: 0 30px;
  border-top: 1px solid gray;
  height: 123px;
  z-index: 1;
}
.newsbox3 .news-author ul {
  list-style-type: none;
  padding: 0 0 0 20px;
}
.newsbox3 .news-author ul li:first-child {
  font-weight: 600;
  padding: 5px 0 3px;
}
.newsbox3 .news-author ul li {
  font-size: 0.875rem;
}
.newsbox3 .news-author img {
  margin-top: 20px;
  width: 47px;
  height: 47px;
}
.newsbox3 .category-tag {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 4px 6px;
  color: white;
  font-size: 0.8em;
}
.newsbox3 .category-tag.career {
  background-color: #4183d7;
}
.newsbox3 .category-tag.news {
  background-color: #926fb1;
}
.newsbox3 h3 {
  color: #926fb1;
}
.newsbox3 a {
  background-color: #926fb1;
}

.news-author img {
  border-radius: 50%;
}

.view-all {
  text-align: center;
}
.view-all a {
  display: inline;
  color: #333645;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
}
.view-all a:hover {
  text-decoration: underline;
}
.view-all a span {
  font-size: 1.25rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.news-head {
  padding-top: 30px;
  padding-bottom: 30px;
}
.news-head h1 {
  display: inline;
  font-weight: 600;
  font-size: 36px;
}

.view-all-top {
  display: none;
  float: right;
}
.view-all-top a {
  display: inline;
  align-items: center;
  color: #333645;
  font-size: 26px;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 0;
}
.view-all-top a:hover {
  text-decoration: underline;
}
.view-all-top a span {
  font-size: 1.25rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

@media (min-width: 768px) {
  .newsbox1, .newsbox2 {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 1% 0 0;
  }
  .newsbox1 img, .newsbox2 img, .newsbox3 img {
    height: 202px;
  }
  .newsbox2 {
    margin-right: 0;
  }
  .newsbox3 {
    display: none;
  }
  .news-s {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .view-all {
    display: none;
  }
  .view-all-top {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .newsbox1 img, .newsbox2 img, .newsbox3 img {
    height: 256px;
  }
  .newsbox1 .news-info, .newsbox2 .news-info, .newsbox3 .news-info {
    min-height: 203px;
  }
}
@media (min-width: 1260px) {
  .newsbox1, .newsbox2, .newsbox3 {
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
  }
  .newsbox1 img, .newsbox2 img, .newsbox3 img {
    height: 220px;
  }
}
.header {
  padding: 20px 0px;
  background-color: white;
}

.header--hidden {
  transform: translateY(-100%);
}

.header-row {
  display: flex;
  flex-direction: column;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-buttons {
  display: flex;
}
.header-buttons .support {
  background-color: #4183d7;
}
.header-buttons .support:hover {
  background-color: #286abd;
}
.header-buttons a {
  height: 56px;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background-color: #999aa2;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  display: flex;
  margin-right: 20px;
}
.header-buttons a:hover {
  background-color: #7e808a;
}
.header-buttons a span {
  font-size: 1.35em;
  margin-right: 5px;
}

.header-phone-icon {
  color: #333645;
  background-color: white;
  font-size: 32px;
  margin-left: auto;
  padding-top: 10px;
}

.hamburger-icon {
  background-color: #333645;
  width: 63px;
  height: 56px;
  position: relative;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
}
.hamburger-icon span {
  color: white;
  font-size: 36px;
}
.hamburger-icon:hover {
  background-color: #212330;
  cursor: pointer;
}
.hamburger-icon::before, .hamburger-icon::after {
  content: "";
  display: block;
  width: 33px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hamburger-icon::before {
  top: 15px;
}
.hamburger-icon::after {
  bottom: 15px;
}
.hamburger-icon .hamburger-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 33px;
  height: 4px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.hamburger-icon.active .hamburger-line {
  display: none;
}
.hamburger-icon.active::before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-icon.active::after {
  bottom: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.mobile-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 47px;
  width: 100%;
  margin-top: 11px;
}
.mobile-search .icon-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 400px;
  color: #212330;
  z-index: 2;
  cursor: pointer;
}
.mobile-search .mobile-input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 0px 5px 15px;
  z-index: 1;
  border: 2px solid #cecece;
  background-color: #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.mobile-search .mobile-input:focus {
  border: none;
  outline: none;
}

.small-search {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.small-input {
  padding: 1.5em;
  width: 175px;
  border: 1px solid #e5e5e5;
  width: 174px;
  height: 56px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.small-input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  outline: none;
  border: none;
  border: 1px solid rgba(91, 192, 222, 0.22);
}

#small-submit {
  background-color: #999aa2;
  border: none;
  border-radius: 0 3px 3px 0;
  width: 56px;
  height: 56px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#small-submit:hover {
  background-color: #7e808a;
}
#small-submit span {
  color: white;
  font-size: 1.5em;
}

.nav-popout {
  background-color: #333645;
  font-size: 18px;
  position: relative;
}
.nav-popout ul {
  line-height: 1;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-popout ul small {
  font-size: 12px;
}
.nav-popout ul a {
  display: flex;
  padding: 18px 50px 18px;
  text-transform: uppercase;
  width: 134px;
  height: 99px;
  flex-direction: column;
  align-items: center;
}
.nav-popout ul a span {
  font-size: 1.35em;
  padding: 0 0 10px;
}

.nav-popout ul li > a[class^=link-] {
  position: relative;
}
.nav-popout ul li > a[class^=link-]::after {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 67px solid transparent;
  border-right: 67px solid transparent;
  border-top: 30px solid;
  display: none;
  z-index: 20;
}
@media (min-width: 1260px) {
  .nav-popout ul li > a[class^=link-]::after {
    border-left: 84px solid transparent;
    border-right: 84px solid transparent;
  }
}

.nav-popout ul li:hover > a[class^=link-]::after,
.nav-popout ul li > a[class^=link-]:hover::after {
  display: block;
}

.pop-link {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100vw;
  left: 0;
}
.pop-link ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 970px;
  margin: 30px auto;
}
.pop-link ul li {
  flex: 0 0 33.33%;
}
.pop-link ul li .pop-a {
  text-transform: none;
  flex-direction: initial;
  padding-left: 0;
  padding-right: 10px;
  align-items: start;
  width: 100%;
  height: 60px;
  flex: 0 0 auto;
}
.pop-link ul li .pop-a span {
  padding-right: 10px;
  margin-top: -3px;
}
.pop-link ul li.h3-item {
  font-size: 28px;
  flex: 0 0 100%;
  color: white;
  display: block;
}

.nav-popout ul li:hover .pop-link {
  display: block;
}

@media (max-width: 767px) {
  .small-search {
    display: none;
  }
  .top-header img {
    max-width: 234px;
  }
}
@media (max-width: 991px) {
  .nav-popout {
    display: none;
  }
  .header-buttons a {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-phone-icon {
    display: none;
  }
  .bottom-header {
    display: none;
  }
}
@media (min-width: 992px) {
  .small-input {
    display: none;
  }
  #small-submit {
    border-radius: 3px 3px;
  }
}
@media (min-width: 1260px) {
  .small-input {
    display: flex;
    width: 240px;
  }
  .nav-popout ul a {
    width: 167px;
  }
  .pop-link ul {
    width: 1200px;
  }
  #small-submit {
    border-radius: 0 3px 3px 0;
  }
}
.header-wrapper {
  position: relative;
  width: 100%;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
}

.header-wrapper.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

.header-wrapper.slide-up {
  transform: translateY(-100%);
}

.header-wrapper.slide-down {
  transform: translateY(0);
}

.side-menu {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}
.side-menu.active {
  transform: translateX(0);
}
.side-menu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 275px;
  list-style: none;
}
.side-menu ul li {
  text-transform: uppercase;
}
.side-menu ul li a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #262834;
  padding: 15px 20px;
  font-size: 14px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.05);
}
.side-menu ul li a:before {
  content: "»";
  padding-right: 15px;
}
.side-menu ul li a:first-child {
  background-color: #333645;
  font-size: 16px;
  padding: 20px;
}
.side-menu ul li a:first-child:hover {
  background-color: #494d62;
}
.side-menu ul li a:first-child:before {
  content: "";
  padding-right: 0;
}
.side-menu .side-menu-mobile {
  background-color: #333645;
  padding: 21px;
  text-align: center;
}
.side-menu .side-menu-mobile .icon-1 {
  color: #526781;
}
.side-menu .side-menu-mobile .icon-2 {
  color: #4183D7;
}
.side-menu .side-menu-mobile .icon-3 {
  color: #2ECC71;
}
.side-menu .side-menu-mobile .icon-4 {
  color: #D64541;
}
.side-menu .side-menu-mobile .icon-5 {
  color: #926FB1;
}
.side-menu .side-menu-mobile .icon-6 {
  color: #F62459;
}
.side-menu .side-menu-mobile .icon-7 {
  color: #CE4125;
}
.side-menu .side-menu-mobile li {
  padding: 20px 0 0;
}
.side-menu .side-menu-mobile li a:before {
  content: none !important;
}
.side-menu .side-menu-mobile li a:first-child {
  border-radius: 3px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.25);
}
.side-menu .side-menu-mobile-box {
  border-radius: 5px;
  display: flex !important;
  flex-direction: column;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 18px;
  margin-bottom: 20px;
}
.side-menu .side-menu-mobile-box span {
  font-size: 1.5em;
  padding-bottom: 10px;
}
.side-menu .side-menu-mobile-box small {
  font-size: 10px;
}
.side-menu .side-menu-mobile-contact {
  padding-top: 0 !important;
}

.menu-round-top {
  border-radius: 5px 5px 0 0;
}

.menu-round-bottom {
  border-radius: 0 0 5px 5px;
}

.slick-next, .slick-prev {
  display: none;
}

@media (min-width: 992px) {
  .side-menu ul {
    width: 335px;
  }
  .side-menu .side-menu-mobile {
    display: none;
  }
  .side-menu .side-menu-mobile-support {
    display: none;
  }
}
.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #fff;
  border: 2px solid white;
}

.slick-dots li button:before {
  font-family: "slick";
  content: "";
  color: transparent;
}

.slick-dots li.slick-active button:before {
  border: 3px solid white;
  border-radius: 50%;
  margin-left: -5.5px;
  margin-top: -5.5px;
}

[class^=banner] {
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
}
[class^=banner] .hero-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
}
[class^=banner] p {
  font-weight: bold;
  font-size: 1.25em;
  text-align: left;
}
[class^=banner] a span {
  font-size: 1.25rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
[class^=banner] .break {
  white-space: nowrap;
}
@media (min-width: 1260px) {
  [class^=banner] .hero-text h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 5rem;
  }
  [class^=banner] .hero-text p {
    margin: 0 0 6px;
    font-size: 26px;
    width: 100%;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  [class^=banner] .hero-text {
    align-items: start;
  }
  [class^=banner] h1 {
    font-size: 3em;
    margin: 0 0 20px;
  }
  [class^=banner] .break {
    display: block;
    text-align: left;
  }
}
@media (max-width: 768px) {
  [class^=banner] .hero-text {
    box-sizing: border-box;
  }
  [class^=banner] .hero-text h1 {
    max-width: 575px;
    word-wrap: break-word;
  }
  [class^=banner] .hero-text p {
    max-width: 375px;
    text-align: center;
  }
  [class^=banner] .hero-text .break {
    white-space: wrap;
  }
}

.banner-1 {
  background-image: linear-gradient(270deg, transparent 25%, #000), url("../img/hero.png");
}

.banner-2 {
  background-image: linear-gradient(270deg, transparent 25%, #000), url("../img/bespoke.jpeg");
}

.banner-3 {
  background-image: linear-gradient(270deg, transparent 25%, #000), url("../img/it-sup.png");
}

.banner-4 {
  background-image: linear-gradient(270deg, transparent 25%, #000), url("../img/dig-mark.png");
}

.banner-5 {
  background-image: linear-gradient(270deg, transparent 25%, #000), url("../img/telecom.png");
}

.banner-6 {
  background-image: linear-gradient(270deg, transparent 25%, #000), url("../img/web-des.jpeg");
}

.banner-7 {
  background-image: linear-gradient(270deg, transparent 25%, #000), url("../img/cyber.png");
}

.top-row {
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.top-row h1 {
  display: inline;
  font-weight: 400;
  font-size: 2.7rem;
}

[class^=item] {
  padding: 30px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 6px 24px -8px rgba(128, 128, 128, 0.35);
  position: relative;
  cursor: pointer;
}
[class^=item] h2 {
  font-weight: 300;
  padding-top: 10px;
  font-size: 21px;
}
[class^=item] p {
  color: #333645;
  font-size: 14px;
}
[class^=item] a {
  text-decoration: none;
  color: black;
}
[class^=item] a h2 {
  font-weight: 300;
  padding-top: 10px;
  font-size: 21px;
}
[class^=item]:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}
[class^=item] [class^=icon-] {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 30px;
  color: white;
  top: 15px;
}
[class^=item]::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
}
[class^=item] .read-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-our-work {
  display: none;
  float: right;
}
.view-our-work a {
  display: inline;
  align-items: center;
  color: #212330;
  font-size: 2.25rem;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 0;
}
.view-our-work a:hover {
  text-decoration: underline;
}
.view-our-work a span {
  font-size: 1.25rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.view-our-work-bottom {
  text-align: center;
}
.view-our-work-bottom a {
  display: inline;
  color: #212330;
  font-size: 1.625rem;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
}
.view-our-work-bottom a:hover {
  text-decoration: underline;
}
.view-our-work-bottom a span {
  font-size: 1.25rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.view-our-work-bottom a h3 {
  margin-bottom: 0;
}

.dig-mar-text {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .view-our-work {
    display: block;
  }
  .view-our-work-bottom {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
