/*===========================================================
VARIABLES
============================================================*/
/*===========================================================
MIXINS
============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*=================================================================
MIXINS
===================================================================*/
body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.client,
.sponsor {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;
}
.client img,
.sponsor img {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
  align-items: center;
}

.grey {
  filter: grayscale(100%);
}
.grey:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.floating-r {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.floating-r a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #323544;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.floating-l {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
}
.floating-l a {
  display: inline;
  padding: 5px;
  background-color: #484c61;
  color: white;
  border-radius: 0 25% 0 0;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #323544;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
}
@media (min-width: 1260px) {
  footer .footer-social {
    float: left;
    padding-right: 5%;
  }
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-row .footer-menu {
  flex: 100%;
}
@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
  }
}
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}
footer .footer-row .footer-menu ul {
  list-style-type: none;
  padding-left: 0;
}
footer .footer-row .footer-menu ul a {
  text-decoration: none;
  color: #fff;
}
footer .footer-row .footer-menu ul a:hover {
  text-decoration: underline;
}

.footer-last {
  background-color: #212330;
  color: #fff;
}
.footer-last a {
  text-decoration: none;
  color: #fff;
}
.footer-last a:hover {
  text-decoration: underline;
}

.social-btn a {
  background-color: #212330;
  display: inline-block;
}
.social-btn a.facebook:hover {
  background-color: #3B5998;
}
.social-btn a.twitter:hover {
  background-color: #00ACED;
}
.social-btn a.instagram:hover {
  background-color: #D93175;
}
.social-btn a.linkedin:hover {
  background-color: #0077B5;
}

.grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .grid {
    flex-flow: row wrap;
  }
  .grid > * {
    width: 50%;
  }
  .grid > *:nth-child(-n+3) {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .grid > * {
    width: 50%;
  }
  .grid > *:nth-child(-n+3) {
    width: 33.333%;
  }
}
@media (min-width: 1260px) {
  .grid > * {
    width: 25%;
  }
  .grid > *:nth-child(-n+3) {
    width: 33.333%;
  }
}

.welcome {
  background-color: #333645;
  width: 100%;
  padding: 30px 0;
  color: #fff;
}
.welcome h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.welcome p:nth-of-type(1) {
  font-weight: bold;
}
.welcome a {
  text-decoration: none;
  color: #fff;
}
.welcome a:hover {
  text-decoration: underline;
}

.quote {
  font-style: italic;
  font-weight: bold;
}

.author {
  display: block;
  padding: 20px 0;
  color: gray;
}

.stars {
  padding-top: 10px;
}
.stars .star-icon {
  filter: invert(68%) sepia(75%) saturate(2229%) hue-rotate(359deg) brightness(100%) contrast(105%);
}

.btn-trust, .btn-google, .btn-welcome, .btn-hero, .social-btn a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
}
.btn-trust:hover, .btn-google:hover, .btn-welcome:hover, .btn-hero:hover, .social-btn a:hover {
  color: #fff;
  opacity: 0.8;
}
.btn-trust:active, .btn-google:active, .btn-welcome:active, .btn-hero:active, .social-btn a:active {
  opacity: initial;
}

.btn-hero {
  background-color: #926FB1;
}
.btn-hero a {
  display: inline-block;
  align-items: center;
  color: white;
  text-decoration: none;
}
.btn-hero a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  padding-top: 0.5em;
  fill: currentColor;
}

.btn-welcome {
  background-color: #212330;
  display: inline-block;
  width: fit-content;
  margin: 15px 0;
}
@media (min-width: 992px) {
  .btn-welcome {
    display: block;
  }
}
.btn-welcome a {
  display: inline-flex;
  align-items: center;
}
.btn-welcome a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  fill: currentColor;
}

.btn-google {
  background-color: #4387F6;
  display: inline-block;
  width: fit-content;
  margin: 15px 0;
}
@media (min-width: 992px) {
  .btn-google {
    display: block;
  }
}
.btn-google a {
  display: inline-flex;
  align-items: center;
}
.btn-google a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  fill: currentColor;
}

.btn-trust {
  background-color: #00B67B;
  display: inline-block;
  width: fit-content;
  margin: 15px 0;
}
@media (min-width: 992px) {
  .btn-trust {
    display: block;
  }
}
.btn-trust a {
  display: inline-flex;
  align-items: center;
}
.btn-trust a .icon-arrow {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  fill: currentColor;
}

.newsbox1 {
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.newsbox1:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}
.newsbox1 img {
  width: 100%;
}
.newsbox1 a {
  color: white;
  border-radius: 0.3em;
  padding: 10px;
  text-decoration: none;
}
.newsbox1 .news-info {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  padding: 20px;
}
.newsbox1 .news-author {
  display: flex;
  padding: 20px;
}
.newsbox1 .news-author ul {
  list-style-type: none;
}
.newsbox1 .news-author img {
  margin-top: 20px;
  width: 47px;
  height: 47px;
}
.newsbox1 h3 {
  color: #4183D7;
}
.newsbox1 a {
  background-color: #4183D7;
}

.newsbox2 {
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.newsbox2:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}
.newsbox2 img {
  width: 100%;
}
.newsbox2 a {
  color: white;
  border-radius: 0.3em;
  padding: 10px;
  text-decoration: none;
}
.newsbox2 .news-info {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  padding: 20px;
}
.newsbox2 .news-author {
  display: flex;
  padding: 20px;
}
.newsbox2 .news-author ul {
  list-style-type: none;
}
.newsbox2 .news-author img {
  margin-top: 20px;
  width: 47px;
  height: 47px;
}
.newsbox2 h3 {
  color: #DB8C0D;
}
.newsbox2 a {
  background-color: #DB8C0D;
}

.newsbox3 {
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.newsbox3:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}
.newsbox3 img {
  width: 100%;
}
.newsbox3 a {
  color: white;
  border-radius: 0.3em;
  padding: 10px;
  text-decoration: none;
}
.newsbox3 .news-info {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  padding: 20px;
}
.newsbox3 .news-author {
  display: flex;
  padding: 20px;
}
.newsbox3 .news-author ul {
  list-style-type: none;
}
.newsbox3 .news-author img {
  margin-top: 20px;
  width: 47px;
  height: 47px;
}
.newsbox3 h3 {
  color: #D64541;
}
.newsbox3 a {
  background-color: #D64541;
}

.view-all {
  text-align: center;
}
.view-all a {
  display: inline;
  color: #212330;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
}
.view-all a:hover {
  text-decoration: underline;
}
.view-all a span {
  font-size: 1.25rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.navbar {
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px 0;
}

nav img {
  max-width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-logo {
  padding-right: 10px;
}

.nav-links {
  display: flex;
  gap: 10px; /* Adjust the space between the right-side icons */
}
.nav-links span {
  font-size: 40px;
}
.nav-links a {
  color: #212330;
  text-decoration: none;
}

.nav-icon {
  display: inline-flex;
  align-items: right;
  justify-content: right;
  flex-shrink: 0;
}

.nav-search {
  width: 100%;
  padding: 0 10px 20px;
}

.nav-search form {
  display: flex;
  width: 100%;
}

.nav-search input[type=text] {
  background-color: #cdcdcd;
  flex-grow: 1;
  padding: 1px;
  border: 1px solid #ccc;
  height: 3em;
}

.nav-search button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
  /* Add any mobile-specific styles here */
}
.hero {
  background-image: url("../../../img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.hero .middle {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 1.25em;
}

a span {
  font-size: 1.25rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

[class^=item] {
  padding: 0.85em;
  border: 1px solid black;
  border-radius: 0.3em;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
[class^=item] h2 {
  font-weight: 300;
  padding-top: 10px;
}
[class^=item] p {
  color: gray;
}
[class^=item] a {
  margin: 30px 0 0;
  padding: 30px;
  text-decoration: none;
  color: black;
}
[class^=item]:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}
[class^=item] [class^=icon-] {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 30px;
  color: white;
  top: 15px;
}
[class^=item]::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
}
[class^=item] .read-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.item-1::before {
  background-color: #926fb1;
}
.item-1 .read-btn {
  background-color: #926fb1;
}
.item-1:hover {
  background-color: #926fb1;
}
.item-1:hover::before {
  background-color: white;
}
.item-1:hover .read-btn {
  background-color: white;
  color: #926fb1;
}
.item-1:hover p {
  color: white;
}
.item-1:hover h2 {
  color: white;
}
.item-1:hover [class^=icon-] {
  color: #926fb1;
}

.item-2::before {
  background-color: #4183d7;
}
.item-2 .read-btn {
  background-color: #4183d7;
}
.item-2:hover {
  background-color: #4183d7;
}
.item-2:hover::before {
  background-color: white;
}
.item-2:hover .read-btn {
  background-color: white;
  color: #4183d7;
}
.item-2:hover p {
  color: white;
}
.item-2:hover h2 {
  color: white;
}
.item-2:hover [class^=icon-] {
  color: #4183d7;
}

.item-3::before {
  background-color: #d64541;
}
.item-3 .read-btn {
  background-color: #d64541;
}
.item-3:hover {
  background-color: #d64541;
}
.item-3:hover::before {
  background-color: white;
}
.item-3:hover .read-btn {
  background-color: white;
  color: #d64541;
}
.item-3:hover p {
  color: white;
}
.item-3:hover h2 {
  color: white;
}
.item-3:hover [class^=icon-] {
  color: #d64541;
}

.item-4::before {
  background-color: #67809f;
}
.item-4 .read-btn {
  background-color: #67809f;
}
.item-4:hover {
  background-color: #67809f;
}
.item-4:hover::before {
  background-color: white;
}
.item-4:hover .read-btn {
  background-color: white;
  color: #67809f;
}
.item-4:hover p {
  color: white;
}
.item-4:hover h2 {
  color: white;
}
.item-4:hover [class^=icon-] {
  color: #67809f;
}

.item-5::before {
  background-color: #2ecc71;
}
.item-5 .read-btn {
  background-color: #2ecc71;
}
.item-5:hover {
  background-color: #2ecc71;
}
.item-5:hover::before {
  background-color: white;
}
.item-5:hover .read-btn {
  background-color: white;
  color: #2ecc71;
}
.item-5:hover p {
  color: white;
}
.item-5:hover h2 {
  color: white;
}
.item-5:hover [class^=icon-] {
  color: #2ecc71;
}

.item-6::before {
  background-color: #f62459;
}
.item-6 .read-btn {
  background-color: #f62459;
}
.item-6:hover {
  background-color: #f62459;
}
.item-6:hover::before {
  background-color: white;
}
.item-6:hover .read-btn {
  background-color: white;
  color: #f62459;
}
.item-6:hover p {
  color: white;
}
.item-6:hover h2 {
  color: white;
}
.item-6:hover [class^=icon-] {
  color: #f62459;
}

.item-7::before {
  background-color: #f39c12;
}
.item-7 .read-btn {
  background-color: #f39c12;
}
.item-7:hover {
  background-color: #f39c12;
}
.item-7:hover::before {
  background-color: white;
}
.item-7:hover .read-btn {
  background-color: white;
  color: #f39c12;
}
.item-7:hover p {
  color: white;
}
.item-7:hover h2 {
  color: white;
}
.item-7:hover [class^=icon-] {
  color: #f39c12;
}

/*# sourceMappingURL=styles.css.map */
