//FOOTER


//main footer style
footer {
    background-color: $color-secondary;
    color: #fff;
    padding: 40px 0 0;
    position: relative;

    .footer-social {
      h4 {
         font-weight: 400;
      }
      @include mq ('l') {
         float: left;
         padding-right: 5%;
      }
    }
 // footer links 
    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .footer-menu {   
            flex: 100%;   
            word-wrap: break-word;
            padding: 0 15px;

            @include mq ('s') {
               flex: 50%;
            }

            @include mq ('m') {
               flex: 25%;
            }

            @include mq ('l') {
               margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 16px;
                margin-bottom: 26px;
                margin-top: 0;
                font-weight: 400;
            }

            ul {
              list-style-type: none;
              padding-left: 0; 

              a {
               @extend %a-link;
               font-size: 13px;
               &:hover {
                  text-decoration: underline;
                }
              }
            }
       }	  
    }
}

   @media (max-width: 768px) {
      .net-img {
        img {
          max-width: 234px;
        }
      }
   }
   @include mq('l') {
      .net-img {
        img {
          max-width: 300px;
        }
      }
   }

//copyright information
.footer-last {
   background-color: $color-accent;
   color: $white;
   padding: 10px 0 0;
   a {
      text-decoration: none;
      color: $white;
      
      &:hover {
         text-decoration: underline;
      }
   }
}

//Social media links and icons
.social-btn {
   @media (max-width: 480px) {
      width: 300px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      a {
         padding: 12px 22px 16px;
         width: 112px;
         height: 56px;
         text-align: center;
      }
      span {
         font-size: 1.5em
      }
   }
   a {
      @extend %btn;
      background-color: $color-accent;
      display: inline-block;
      border-radius: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      
      
      
   }
   span {
      font-size: 1.5em;
      height: 26px;
   }
   a.facebook:hover {
      background-color: $color-fb;
   }
   
   a.twitter:hover {
      background-color: $color-tw;
   }
   
   a.instagram:hover {
      background-color: $color-ig;
   }
   
   a.linkedin:hover {
      background-color: $color-in;
   }
}
.license {
   padding: 5px 0 10px;
   font-size: 13px;
}