//FOOTER


//main footer style
footer {
    background-color: $color-secondary;
    color: #fff;
    padding: 30px 0 0;
    position: relative;

    .footer-social {
      
      @include mq ('l') {
         float: left;
         padding-right: 5%;
      }
    }
 // footer links 
    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .footer-menu {   
            flex: 100%;   
            
           
            @include mq ('s') {
               flex: 50%;
            }

            @include mq ('m') {
               flex: 25%;
            }

            @include mq ('l') {
               margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;	
            }

            ul {
              list-style-type: none;
              padding-left: 0; 

              a {
               @extend %a-link;
               
               &:hover {
                  text-decoration: underline;
                }
              }
            }
       }	  
    }
}

   @media (max-width: 768px) {
      .net-img {
        img {
          max-width: 234px;
        }
      }
   }

//copyright information
.footer-last {
   background-color: $color-accent;
   color: $white;

   a {
      text-decoration: none;
      color: $white;
      
      &:hover {
         text-decoration: underline;
      }
   }
}

//Social media links and icons
.social-btn {
   a {
      @extend %btn;
      background-color: $color-accent;
      display: inline-block;
 
   }

   a.facebook:hover {
      background-color: $color-fb;
   }
   
   a.twitter:hover {
      background-color: $color-tw;
   }
   
   a.instagram:hover {
      background-color: $color-ig;
   }
   
   a.linkedin:hover {
      background-color: $color-in;
   }
}
