.grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;

    @include mq('s') {
        flex-flow: row wrap;

        > * {
            width: 50%; // 2 columns for items 4-7
        }

        > *:nth-child(-n+3) {
            width: 100%; // Full width for first 3 items
        }
    }

    @include mq('m') {
        > * {
            width: 50%; // Default to 2 columns
        }

        > *:nth-child(-n+3) {
            width: 33.333%; // First 3 items in one row
        }
    }
    @include mq('l') {
        > * {
            width: 25%; // Default to 2 columns
        }

        > *:nth-child(-n+3) {
            width: 33.333%; // First 3 items in one row
        }
    }
}

