//services grid layout

.grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
    
// small viewport item layout
    @include mq('s') {
        flex-flow: row wrap;

        > * {
            width: calc((100% - (1 * 30px)) / 2); // 2x2 items
        }

        > *:nth-child(-n+3) {
            width: 100%; // 1 item per row for 3 rows
        }
    }

    @include mq('m') {
        > * {
            width: calc((100% - (1 * 30px)) / 2); //2x2
        }

        > *:nth-child(-n+3) {
            width: calc((100% - (2 * 30px)) / 3); //1 row of 3 items
        }
    }
    @include mq('l') {
        > * {
            width: calc((100% - (3 * 30px)) / 4); //1x4
        }

        > *:nth-child(-n+3) {
            width: calc((100% - (2 * 30px)) / 3); //1x3
        }
    }
}


