//MAIN LAYOUT STYLES

body {
    margin: 0;
    font-family: $font-family--primary;
}

* {
box-sizing: border-box;
}

h3 {
    font-weight: 500;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq ('s') {
         width: 750px;
    }

    @include mq ('m') {
        width: 970px;
    }

    @include mq ('l') {
        width: 1200px;
    }

}

.client,
.sponsor {
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    padding: 50px 0;
    img {
        display: inline-block;
        padding: 20px;
        vertical-align: middle;
        align-items: center;
    }
}

//set images to grayscale
.grey {
    filter: grayscale(100%);
    
    &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
}