body {
    margin: 0;
    font-family: $font-family--primary;
}

* {
box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq ('s') {
         width: 750px;
    }

    @include mq ('m') {
        width: 970px;
    }

    @include mq ('l') {
        width: 1200px;
    }

}