//MAIN LAYOUT STYLES

body {
    margin: 0;
    font-family: $font-family--primary;
    width: 100%;
    //overflow-x: hidden;
}

* {
box-sizing: border-box;
}

h3 {
    font-weight: 500;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    @include mq ('s') {
         width: 750px;
    }

    @include mq ('m') {
        width: 970px;
    }

    @include mq ('l') {
        width: 1200px;
    }

}

.client,
.sponsor {
    white-space: nowrap;
    padding: 50px 0;
    img {
        z-index: 999;
        display: inline-block;
        padding: 0 20px;
        vertical-align: middle;
        align-items: center;
        max-height: 70px;
        max-width: 240px;
    }
}
.client {
    z-index: 9999;
    position: relative;
    //overflow-x: visible;
    img {
        
        padding: 0 35px;
    }
}

//set images to grayscale
.grey {
    filter: grayscale(100%);
    
    &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 275px;
    background-color: #333645;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-wrap: wrap;
    height: auto;
    font-size: 18px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 99999;
    bottom: 200%;
    left: 50%;
    transform: translateX(-50%);

    a {
        border-radius: 3px;
        background-color: orange;
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 35px;
        height: auto;
        width: 100%;
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    border-width: 30px;
    border-style: solid;
    border-color: #333645 transparent transparent transparent;
}
.logo-wrapper {
    overflow: visible;
    
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-slide {
    height: auto;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
}