//hero image button
.btn-hero {
    @extend %btn;
    // background-color: #926FB1;
    border-radius: 3px;
    margin-top: 1.938rem;
    padding: 15px 20px;
    a {
        display: inline-block;
        align-items: center;
        color: white;
        text-decoration: none;
        
        font-weight: 400;
        font-size: 20px;
        .icon-arrow {
            width: 1.4em;
            height: 1.4em;
            margin-left: 0.5em;
            padding-top: 0.5em;
            fill: currentColor; 
        }

    }
    
}
//welcome section button
.btn-welcome{
    @extend %btn;
    background-color: $color-accent;
    display: inline-block;
    width: fit-content;
    margin: 15px 5px 0 0;
    border-radius: 3px;

    @include mq(m) {
        display: block;
    }
    @media (max-width: 500px) {
        margin-bottom: 0;
    }
    a {
        display: inline-flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.2em;
        
        .icon-arrow {
            width: 1.4em;
            height: 1.4em;
            margin-left: 0.5em;
            fill: currentColor; 
        }

    }
    
}

.btn-google {
    @extend %btn;
    background-color: #4387F6;
    display: inline-block;
    width: fit-content;
    margin: 15px 5px 0 0;
    border-radius: 3px;
    @include mq(m) {
        display: block;
    }
    a {
        display: inline-flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.2em;
        
        .icon-arrow {
            width: 1.4em;
            height: 1.4em;
            margin-left: 0.5em;
            fill: currentColor; 
        }
    }
}

.btn-trust {
    @extend %btn;
    background-color: #00B67B;
    display: inline-block;
    width: fit-content;
    margin: 15px 0;
    border-radius: 3px;
    @include mq(m) {
        display: block;
    }
    a {
        display: inline-flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.2em;
        
        .icon-arrow {
            width: 1.4em;
            height: 1.4em;
            margin-left: 0.5em;
            fill: currentColor; 
        }
    }
}