.slick-dots { 
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .slick-dots li.slick-active button {
    background-color: #fff;
    border: 2px solid white;
    
  }
    .slick-dots li button:before {
        font-family: 'slick';
        content: '';
        color: transparent;
}

//background image
[class^="banner"] {
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    //center text
    .hero-text{
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 100px 20px;   
    }

    p {
        font-weight: bold;
        font-size: 1.25em;
        text-align: left;
    }
    a span {
        font-size: 1.25rem;
        vertical-align: middle;
        position: relative;
        top: -2px;
        
    }
    //multiline text
    .break {
        white-space: nowrap;
    }
    @include mq('l') {
        .hero-text {
            h1 {
                font-size: 64px;
                font-weight: 600;
                
                line-height: 5rem;
            }
            p {
                margin: 0 0 6px;
                font-size: 26px;
                width: 100%;
                line-height: 2.5rem;
                font-weight: 600;
            }
        }
    }
    @include mq('m') {
        .hero-text {
            align-items: start;
            
        }
        h1 {
            font-size: 3em;
            margin: 0 0 20px;
        }
        
        .break {
            display: block;
            text-align: left;
        }
    }
    @media (max-width: 768px) {
        .hero-text {
            box-sizing: border-box;
            
            h1{
                max-width: 375px;
                word-wrap: break-word;
            }
            p {
                max-width: 375px;
            }
            .break {
                white-space: wrap;
                
            }
        }
     }
}
.banner-1 {
    background-image: 
        linear-gradient(270deg, transparent 25%, #000), 
        url("../img/hero.png");
}
.banner-2 {
    background-image: 
        linear-gradient(270deg, transparent 25%, #000), 
        url("../img/bespoke.jpeg");
}
.banner-3 {
    background-image: 
        linear-gradient(270deg, transparent 25%, #000), 
        url("../img/it-sup.png");
}
.banner-4 {
    background-image: 
        linear-gradient(270deg, transparent 25%, #000), 
        url("../img/dig-mark.png");
}
.banner-5 {
    background-image: 
        linear-gradient(270deg, transparent 25%, #000), 
        url("../img/telecom.png");
}
.banner-6 {
    background-image: 
        linear-gradient(270deg, transparent 25%, #000), 
        url("../img/web-des.jpeg");
}
.banner-7 {
    background-image: 
        linear-gradient(270deg, transparent 25%, #000), 
        url("../img/cyber.png");
}
