//HERO IMAGE AND TEXT

//background image
.hero {
    background-image: url('https://roff-dev.github.io/NetMatters-HTML-and-CSS-Assessment/img/hero.png'), url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    
    
    //center text
    .hero-text{
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 100px 20px;   
    }

    p {
        font-weight: bold;
        font-size: 1.25em;
    }
    a span {
        font-size: 1.25rem;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }
    //multiline text
    .break {
        white-space: nowrap;
    }

    @include mq('m') {
        .hero-text {
            align-items: start;
            
        }
        h1 {
            font-size: 3em;
        }
        
        .break {
            display: block;
            text-align: left;
        }
    }
    @media (max-width: 768px) {
        .hero-text {
            box-sizing: border-box;
            
            h1{
                max-width: 375px;
                word-wrap: break-word;
            }
            p {
                max-width: 375px;
            }
            .break {
                white-space: wrap;
                
            }
        }
     }
}

