//HEADER AND NAV

.header{
    padding: 20px 0px;
  
  }
  
  .header--hidden {
    transform: translateY(-100%);
  }
  
  
  .header-row{
    display: flex;
    flex-direction: column;
  }
  
  .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header-buttons {
    display: flex;

    .support {
        background-color: #4183d7;
    }

    a {
        font-size: 1.2em;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background-color: #999aa2;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        display: flex;
        margin-right: 15px;

        span {
            font-size: 1.5em;
            margin-right: 5px;
        }
    }
  }
  
  .header-phone-icon{
    color: #333645;
    background-color: white;
    font-size: 32px;
   
    margin-left: auto;
  
    padding-right: 20px;
  }
  
  //hamburger menu icon styling
  .hamburger-icon{
    background-color: #333645;
    width: 63px;
    height: 59px;
    position: relative; 
    margin-left: 15px;
  }
  
  .hamburger-line{
    width: 33px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    
  }
  
  
  .hamburger-line-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  
  //mobile view searcg bar
  .mobile-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    height: 47px;
    width: 100%;
    margin-top: 11px;
  
  
   //search bar magnifying glass 
    .icon-search{
        position: relative;
        padding-right: 11px;
        font-size: 20px;
        font-weight: 400px;
        color: $color-accent;
        z-index: 2;
    }
    //mobile view text field
    .mobile-input{
        position: absolute;
        width: 100%;
        height: 100%;
        
        padding: 5px 0px 5px 15px;
  
        z-index: 1;
        border: 2px solid #cecece;
        background-color: #e5e5e5;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
  }
//search bar for small viewport
  .small-search {
    display: flex; 
    align-items: center; 
    background-color: #999aa2; 
    border-radius: 5px; 
    overflow: hidden; 

    .small-input {
        padding: 1.5em;
        width: 175px;
    }

    #small-submit {
        background-color: #999aa2; 
        border: none; 
        border-radius: 0 5px 5px 0; 
        width: 59px; 
        height: 59px; 
        cursor: pointer; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        
        span {
            color: white;
            font-size: 1.5em;
        }
    }
}
  
.nav-popout {
    
    background-color: $color-main;
    font-size: 20px;

    

    ul {
        line-height: 1;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        
        small {
          font-size: 12px;
          
        }

        a {
          display: flex;
          padding: 18px 50px 18px;
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          width: 134px;
          flex-direction: column;
          align-items: center;

          span {
            font-size: 1.35em;
            padding: 0 0 10px;
          }
        }
    }
}
$colors: (
    1: #926FB1,
    2: #4183D7,
    3: #2ECC71,
    4: #D64541,
    5: #926FB1,
    6: #F62459,
    7: #CE4125
);
@each $key, $color in $colors {
  .link-#{$key} {
      span{
      color: $color; 
      }
      &:hover {
          background-color: lighten($color, 20%); 
          span {
            color: white;
          }
      }
  }
}


 @media (max-width: 768px) {
    .small-search {
        display: none;
    }
 }
 
 @media (max-width: 991px) {
    .nav-popout {
        display: none;
    }
    .header-buttons {
        a {
            display: none;
        }
    }
 }


  @include mq ('s'){
  
    
    .header-phone-icon{
        display: none;
    }
    
    
    .bottom-header{
        display: none;
    }
  
  }

  @include mq ('m') {
    .small-input {
        display: none;
    }
    
    
  }
  @include mq('l') {
    .small-input {
        display: flex;
        
    }
    .nav-popout {
      ul a {
        width: 167px;
      }
    }
  }
