//HEADER AND NAV

.header{
    padding: 20px 0px;
  
  }
  
  .header--hidden {
    transform: translateY(-100%);
  }
  
  
  .header-row{
    display: flex;
    flex-direction: column;
  }
  
  .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header-buttons {
    display: flex;

    .support {
        background-color: #4183d7;
    }

    a {
        height: 56px;
        font-size: 1.1em;
        font-weight: 400;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        background-color: #999aa2;
        align-items: center;
        justify-content: center;
        padding: 6px 12px;
        display: flex;
        margin-right: 20px;

        span {
            font-size: 1.35em;
            margin-right: 5px;
        }
    }
  }
  
  .header-phone-icon{
    color: #333645;
    background-color: white;
    font-size: 32px;
   
    margin-left: auto;
  
    padding-top: 10px;
  }
  
  //hamburger menu icon styling
  .hamburger-icon{
    background-color: #333645;
    width: 63px;
    height: 56px;
    position: relative; 
    margin-left: 15px;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: $color-accent;
      cursor: pointer;
    }
  }
  
  .hamburger-line{
    width: 33px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    
  }
  
  
  .hamburger-line-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  
  //mobile view searcg bar
  .mobile-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    height: 47px;
    width: 100%;
    margin-top: 11px;
  
  
   //search bar magnifying glass 
    .icon-search{
        position: relative;
        padding-right: 11px;
        font-size: 20px;
        font-weight: 400px;
        color: $color-accent;
        z-index: 2;
    }
    //mobile view text field
    .mobile-input{
        position: absolute;
        width: 100%;
        height: 100%;
        
        padding: 5px 0px 5px 15px;
  
        z-index: 1;
        border: 2px solid #cecece;
        background-color: #e5e5e5;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
  }
//search bar for small viewport
.small-search {
  display: flex; 
  align-items: center; 
  border-radius: 5px; 
  box-sizing: border-box;
  
}
.small-input {
  padding: 1.5em;
  width: 175px;
  border: 1px solid #e5e5e5;
  width: 174px;
  height: 56px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.small-input:focus {
  box-shadow: -2px 0px 8px 1px rgba(blue,0.22);
  outline: none;
  border: none;
  border: 1px solid rgba(blue,0.22);
}
#small-submit {
  background-color: #999aa2; 
  border: none; 
  border-radius: 0 5px 5px 0; 
  width: 56px; 
  height: 56px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  
  span {
      color: white;
      font-size: 1.5em;
  }
}



//dropdown menu
.nav-popout {
    
    background-color: $color-main;
    font-size: 20px;
    position: relative;
    

    ul {
        line-height: 1;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        
        small {
          font-size: 12px;
          
        }

        a{
          @extend %a-link;
          display: flex;
          padding: 18px 50px 18px;
          text-transform: uppercase;
          width: 134px;
          flex-direction: column;
          align-items: center;

          span {
            font-size: 1.35em;
            padding: 0 0 10px;
          }
        }
    }
}



.pop-link:hover {
  display: block; 
}

.pop-link {
  display: none; 
  position: absolute; 
  z-index: 10; 
  width: 100vw;
  left: 0;
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;

    li {
      flex: 0 0 calc(33.33%); 
      .pop-a {
        text-transform: none;
        flex-direction: initial;
        padding-left: 10px;
        padding-right: 10px;
        align-items: start;
        width: 100%;
        flex: 0 0 auto; 
      }
    }

    li.h3-item {
      font-size: 1.3em;
      flex: 0 0 100%; 
      color: white; 
      display: block; 
       
    }
  }
}





.nav-popout ul li a:hover {
  + .pop-link {
      display: block; 
      
  }
}

 @media (max-width: 768px) {
    .small-search {
        display: none;
    }
 }
 
 @media (max-width: 991px) {
    .nav-popout {
        display: none;
    }
    .header-buttons {
        a {
            display: none;
        }
    }
 }


  @include mq ('s'){
  
    
    .header-phone-icon{
        display: none;
    }
    
    
    .bottom-header{
        display: none;
    }
  
  }

  @include mq ('m') {
    .small-input {
        display: none;
    }
    #small-submit{
      border-radius: 5px 5px;
    }
    
  }
  @include mq('l') {
    .small-input {
        display: flex;
        width: 240px;
    }
    .nav-popout {
      ul a {
        width: 167px;
      }
    }
    #small-submit{
      border-radius: 0 5px 5px 0;
    }
  }
