
/* General styling */
.header{
    padding: 20px 0px;
  
  }
  
  .header--hidden {
    transform: translateY(-100%);
  }
  
  
  .header-row{
    display: flex;
    flex-direction: column;
  }
  
  .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .header-phone-icon{
    color: #333645;
    background-color: white;
    font-size: 32px;
   
    margin-left: auto;
  
    padding-right: 20px;
  }
  
  
  .hamburger-icon{
    background-color: #333645;
    width: 63px;
    height: 59px;
    position: relative; 
  }
  
  .hamburger-line{
    width: 33px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    
  }
  
  
  .hamburger-line-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  
  
  .mobile-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    height: 47px;
    width: 100%;
    margin-top: 11px;
  
  
    
    .icon-search{
        position: relative;
        padding-right: 11px;
        font-size: 20px;
        font-weight: 400px;
        color: $color-accent;
        z-index: 2;
    }
    .mobile-input{
        position: absolute;
        width: 100%;
        height: 100%;
        
        padding: 5px 0px 5px 15px;
  
        z-index: 1;
        border: 2px solid #cecece;
        background-color: #e5e5e5;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
  }

  .small-search {
    display: flex; // Ensure the input and button are aligned
    align-items: center; // Center items vertically
    background-color: #999aa2; // Match the background color
    border-radius: 5px; // Add rounded corners
    overflow: hidden; // Prevent overflow of inner elements

    .small-input {
        padding: 1.5em;
        width: 175px;
    }

    #small-submit {
        background-color: #999aa2; // Match the button color
        border: none; // Remove default border
        border-radius: 0 5px 5px 0; // Round the right corners
        width: 50px; // Set a fixed width for the button
        height: 100%; // Match the height of the input
        cursor: pointer; // Change cursor to pointer
        display: flex; // Center the icon
        align-items: center; // Center vertically
        justify-content: center; // Center horizontally
        span {
            color: white;
        }
    }
}
  
 @media (max-width: 768px) {
    .small-search {
        display: none;
    }
 }
 
  @include mq ('s'){
  
    
    .header-phone-icon{
        display: none;
    }
    
    
    .bottom-header{
        display: none;
    }
  
  }

