.newsbox1 {
    @include news;
    h3 {
        color: $news-1;
    }
    a {
        background-color: $news-1;
    }
}

.newsbox2 {
    @include news;
    h3 {
        color: $news-2;
    }
    a {
        background-color: $news-2;
    }
}

.newsbox3 {
    @include news;
    h3 {
        color: $news-3;
    }
    a {
        background-color: $news-3;
    }
}
