.newsbox1 {
    @include news;
    h3 {
        color: $news-1;
    }
    a {
        background-color: $news-1;
    }
}

.newsbox2 {
    @include news;
    h3 {
        color: $news-2;
    }
    a {
        background-color: $news-2;
    }
}

.newsbox3 {
    @include news;
    h3 {
        color: $news-3;
    }
    a {
        background-color: $news-3;
    }
}

.view-all {
    text-align: center;


    a {
        display: inline;
        color: $color-accent;
        font-size: 1.5em;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        padding: 10px 0;
        
        &:hover {
            text-decoration: underline;
        }
        
        span {
            font-size: 1.25rem;
            vertical-align: middle;
            position: relative;
            top: -2px;
        }
    }
}

.client {
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    
    img {
        display: inline-block;
        padding: 20px;
        vertical-align: middle;
        align-items: center;
    }
}
.grey {
    filter: grayscale(100%);
    
    &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
}