//OUR SERVICES SECTION

.top-row {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
h1 {
    display: inline;
    
}
//target all item boxes
[class^="item"] {
    padding: 0.85em;
    border: 1px solid rgba(gray, 0.2);
    border-radius: 0.9em;
    text-align: center;
    box-shadow: 0px 6px 24px -8px rgba(gray, .35);
    position: relative;

    h2 {
        font-weight: 300;
        padding-top: 10px;
    }
    p {
        color: gray;
    }
    
    a {
        text-decoration: none;
        color: black;
        h2 {
            font-weight: 300;
            padding-top: 10px;
        }
        p {
            font-size: 16px;
        }
    }

    &:hover {
        transform: translateY(-10px);
        transition: .5s ease;
    }
    [class^="icon-"] {
        position: relative;
        z-index: 2;
        display: inline-block;
        font-size: 30px; 
        color: white; 
        top: 15px; 
    }

    &::before {
        content: '';
        position: absolute;
        
        left: 50%;
        transform: translateX(-50%);
        width: 60px; 
        height: 60px; 
        border-radius: 50%;
        z-index: 1;
    }

    .read-btn {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 15px;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    
}
//colour map
$colors: (
    1: #926FB1,
    2: #4183D7,
    3: #2ECC71,
    4: #D64541,
    5: #926FB1,
    6: #F62459,
    7: #CE4125
);

// Generate styles for each item
@each $item, $color in $colors {
    .item-#{$item} {
        &::before {
            background-color: $color;
        }

        .read-btn {
            background-color: $color;

        }
        &:hover{
            background-color: $color;

            &::before {
                background-color: white;
                
            }
            .read-btn {
                background-color: white;
                color: $color;
            }
            p {
                color: white;
            }
            h2 {
                color: white;
            }
            [class^="icon-"] {
                color: $color;
            }
        }
    }
}