[class^="item"] {
    color: #fff;
    text-shadow: 0 2px 0 rgba(110,133,156,0.18);
    padding: 0.85em;
    background: #6e859c;
    border: solid 1px rgba(110,133,156,0.15);
    border-radius: 0.3em;
    margin-bottom: 30px;
  }