//WELCOME SECTION

.welcome {
    background-color: $color-main;
    width: 100%;
    padding: 30px 0;
    color: $white;
    
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    p:nth-of-type(1) {
        font-weight: bold;
    }

    a {
        @extend %a-link;
   }
   @include mq('l') {
        [class^="btn-"] {
            display: inline;
            margin-right: 10px;
        }
    }


   @include mq('m') {
    .container {
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .welcome-top, 
    .welcome-bottom {
        width: 49%;
        align-items: center;
        padding: 10px;
    }
   .welcome-bottom {
        .quote {
            font-size: 1.2em;
            }
        }   
    }  
}
.quote {
    font-style: italic;
    font-weight: bold;
    
}
.author {
    display: block;
    padding: 20px 0;
    color: gray;
}

.stars{
padding-top: 10px;

.star-icon {
    filter: invert(68%) sepia(75%) saturate(2229%) hue-rotate(359deg) brightness(100%) contrast(105%);
    }
}


