.side-menu ul li {
    text-transform: uppercase;
    list-style: none;
}
.side-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 335px;
}
.side-menu ul li a:first-child {
    background-color: red;
}
.side-menu ul li a {
    display: block;
    text-decoration: none;
    color: #e3e3e3;
    background-color: #262834;
    padding: 15px 20px;
    font-size: 14px;
    border-top: 1px solid hsla(0, 0%, 100%, .05);
}
.side-menu ul li a:first-child {
    background-color: #3D404E;
    font-size: 16px;
    padding:20px;
    &:before {
        content: '';
        padding-right: 0;
    }
}
.side-menu ul li a:before {
    content: "\BB";
    padding-right: 15px;
}
.side-menu ul li a:first-child:hover {
    background-color: lighten($color: #3D404E, $amount: 10);
}
