.side-menu ul li {
    
    text-transform: uppercase;
    list-style: none;
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}
.side-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 335px;
}
.side-menu ul li a:first-child {
    background-color: red;
}
.side-menu ul li a {
    display: block;
    text-decoration: none;
    color: #e3e3e3;
    background-color: #262834;
    padding: 20px;
    font-size: 14px;
}
.side-menu ul li a:first-child {
    background-color: #3D404E;
    font-size: 16px;

    &:before {
        content: '';
        padding-right: 0;
    }
}

.side-menu ul li a:before {
    content: "\BB";
    padding-right: 15px;
}
