//FUNCTIONS

//FONT FUNCTION
@if variable-exists(font-url--google) {
    @import url($font-url--google);
  }

  //colour map
$colors: (
  1: #926FB1,
  2: #4183D7,
  3: #2ECC71,
  4: #D64541,
  5: #926FB1,
  6: #F62459,
  7: #CE4125
);

// Services Boxes 
@each $item, $color in $colors {
  .item-#{$item} {
      &::before {
          background-color: $color;
      }

      .read-btn {
          background-color: $color;

      }
      &:hover{
          background-color: $color;

          &::before {
              background-color: white;
              
          }
          .read-btn {
              background-color: white;
              color: $color;
          }
          p {
              color: white;
          }
          h2 {
              color: white;
          }
          [class^="icon-"] {
              color: $color;
          }
      }
  }
}
//nav links
@each $key, $color in $colors {
  .link-#{$key} {
      span{
      color: $color; 
      }
      &:hover {
          background-color: $color; 
          span {
            color: white;
          }
      }
  }
}

//nav dropdown
@each $key, $color in $colors {
  .pop-link-#{$key} {
      background-color: $color; 
      
  }
}