/*=================================================================
MIXINS
===================================================================*/

//media query breakpoint

@mixin mq($break) {  
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');            
    
    @if $value == null {
      @error "`#{$break}` is not a valid breakpoint name.";          
    }          
                 
    @else {
      @media (min-width: $value) {
        @content;       
      }             
    }  
  }

//news styling 

  @mixin news {
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column; 
    height: 100%;
    position: relative;
    z-index: 1;
    
    &:hover {
        transform: translateY(-10px);
        transition: .5s ease;
        cursor: pointer;
    }
    
    h3 {
        @content;
        margin-top: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        margin: 0 0 30px;
        
    }

    img {
        width: 100%;
        
    }
    p {
      font-size: .8125rem;
      margin-bottom: 30px;
      line-height: 1.375rem;
      color: #666666;
      letter-spacing: .4px;
    }
    a {
        color: white;
        border-radius: 3px;
        @content;
        padding: 10px 15px;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        
    }
    .news-info {
        flex: 1;
        padding: 20px 30px 35px;
        
    }

    .news-author {
        display: flex;
        padding: 15px 0;
        margin: 0 30px;
        border-top: 1px solid #ccc;
        height: 123px;
        z-index: 1;
        ul {
            list-style-type: none;
            padding: 0 0 0 20px;
            li:first-child {
              font-weight: 600;
              padding: 5px 0 3px;
              color: #333645;
            }
            li {
              font-size: .875rem;
              color: #666666;
            }
            
        }

        img {
            
            margin-top: 20px;
            width: 47px;
            height: 47px;
        }
    }
    .category-tag {
      position: absolute; 
      top: 10px; 
      right: 0; 
      padding: 4px 6px;
      
      color: white; 
      font-size: 0.8em; 
      &.career {
          background-color: $news-1; 
      }
      &.news {
          background-color: $news-2; 
      }
  }
}
//PLACEHOLDERS
%btn {
  color: $white;

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;

  &:hover {
    color: $white;
    opacity: 0.8;
  }

  &:active {
    opacity: initial;
  }

}

//link style placeholder
%a-link {
  text-decoration: none;
  color: white;
}