/*=================================================================
MIXINS
===================================================================*/


//media query breakpoint

@mixin mq($break) {  
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');            
    
    @if $value == null {
      @error "`#{$break}` is not a valid breakpoint name.";          
    }          
                 
    @else {
      @media (min-width: $value) {
        @content;       
      }             
    }  
  }

//PLACEHOLDERS
%btn {
  color: $white;

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;

  &:hover {
    color: $white;
    opacity: 0.8;
  }

  &:active {
    opacity: initial;
  }

}

//link style placeholder
%a-link {
  text-decoration: none;
  color: white;
}