/*=================================================================
MIXINS
===================================================================*/

//media query breakpoint

@mixin mq($break) {  
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');            
    
    @if $value == null {
      @error "`#{$break}` is not a valid breakpoint name.";          
    }          
                 
    @else {
      @media (min-width: $value) {
        @content;       
      }             
    }  
  }

//news styling 

  @mixin news {
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 30px;
    border: 1px solid gray;
    box-shadow: 0px 6px 24px -8px rgba(gray, .5);
    display: flex;
    flex-direction: column; 
    height: 100%;
    position: relative;
    z-index: 1;
    
    &:hover {
        transform: translateY(-10px);
        transition: .5s ease;
        cursor: pointer;
    }
    
    h3 {
        @content;
        margin-top: 0;
    }

    img {
        width: 100%;
        
    }
    p {
      font-size: 14px;
      color: #333645;
      margin-bottom: 30px;
    }
    a {
        color: white;
        border-radius: 3px;
        @content;
        padding: 10px 15px;
        font-size: 18px;
        text-decoration: none;
        
    }
    .news-info {
        flex: 1;
        padding: 20px 25px 35px;
        
    }

    .news-author {
        display: flex;
        padding: 20px 0;
        margin: 0 20px;
        border-top: 1px solid gray;
        height: 123px;
        z-index: 1;
        ul {
            list-style-type: none;
            
        }

        img {
            
            margin-top: 20px;
            width: 47px;
            height: 47px;
        }
    }
    .category-tag {
      position: absolute; 
      top: 10px; 
      right: 0; 
      padding: 4px 6px;
      
      color: white; 
      font-size: 0.8em; 
      &.career {
          background-color: $news-2; 
      }
      &.news {
          background-color: $news-1; 
      }
  }
}
//PLACEHOLDERS
%btn {
  color: $white;

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;

  &:hover {
    color: $white;
    opacity: 0.8;
  }

  &:active {
    opacity: initial;
  }

}

//link style placeholder
%a-link {
  text-decoration: none;
  color: white;
}